/* header */

.header {
    width: 70%;
    margin-left: 15%;
   /* padding-top: 36px;*/
    /*height: 80px;*/
    z-index: 3;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(210, 231, 251);
    position: absolute;
    font-size: 18px;
    font-family: Lato;
    color: rgb(255, 255, 255);
}



.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 18px 21px 18px 33px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #74c7d5;
    /*border-radius: 0 0 4px 4px;*/
}

.header .header__logo {
    display: block;
    float: left;
    /*padding: 21px 42px;*/
    text-decoration: none;
    padding-right: 0;
    padding-top: 36px;
    margin-left: 8px;
    
}

.header .header__logo img{
    width: 151px;   
}

.header__logo:hover{
    opacity: 0.9;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    /*padding: 37px 28px;*/
    position: relative;
    user-select: none;
    top: 53px;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
   top: 5px;
}

.header .menu-icon .navicon:after {
   top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 350px;
    background-color: #ac8c99;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 800px) {
    .header li a:hover, .header .menu-btn:hover {
        background-color: #74c7d5;
        border-radius: 0 0 4px 4px;
    }
    .header .menu-btn:checked ~ .menu {
        background-color: transparent;
    }

    .header li {
        float: left;
    }
    .header li a {
       /* margin-right: 14px;*/
       padding: 38px 14px 8px 5px;
        
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
       display: none;
    }
}

@media (min-width: 1005px){
    .header li a {
        padding: 38px 24px 13px 25px;
    }
}