body {
	width: 100%;
	margin-left: 0;
	margin-top: 0;
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(fonts/Lato-Light.ttf);
}


@font-face {
  font-family: Lato-Heavy;
  src: url(fonts/Lato-Heavy.ttf);
}

h1 {
	font-size: 60px;
	font-family: Lato-Light;
	color: rgb(255, 255, 255);
	line-height: 0.967;
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	letter-spacing: -1.2px;
}

h3 {
	font-size: 30px;
	font-family: Lato;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.933;
	text-align: center;
	font-weight: 200;
}

.h3__pink{
	color: #ec9da2;
}

h4{
	font-size: 20px;
	font-family: Lato;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	/*line-height: 2.9;*/
	text-align: center;
	font-weight: 200;
	margin-bottom: 0;
}

p{
	font-size: 14px;
	font-family: Lato;
	color: rgb(255, 204, 207);
	line-height: 1.714;
	text-align: center;
}

h1:hover{
	opacity: 0.8;
	cursor: default;
}

.hero__carousel{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.hero__carousel__main{
	width: 100%;
	
}

.slick-slide img{
	width: 100%;
}

.slick-dots li button::before{
		display: none;
	}


.hero__headline{
	position: absolute;
	z-index: 3;
	display: flex;
}

.hero__headline__left {
	font-size: 30px;
    font-family: Lato-Light;
  	color: rgb(116, 199, 213);
  	line-height: 0.967;
  	text-align: right;
  	width: 50%;
}

.hero__headline__right{
	font-size: 80px;
    font-family: Lato-Heavy;
    color: rgb(116, 199, 213);
    line-height: 1;
  	text-align: right;
  	letter-spacing: -5px;
  	line-height: 0.8;
  	margin-right: 10px;
}

.hero__headline:hover{
	opacity: 0.7;
	cursor: default;
}

.services{
	background-color: #b24a50;
	margin-top: -51px;
	min-height: 200px;
	padding-top: 67px;
}

.services__header{
	margin-top: -46px;
}

.services__text {
	width: 70%;
	margin-left: 15%;
	margin-top: 137px;
}


.services__examples{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 113px;
}

.services__example {
    background-color: #c45158;
    /*height: 356px;*/
   	margin-left: 1%;
	/*margin-right: 1%;*/
	padding: 43px 16px 0 16px;
	border-radius: 6px;
}

.services__example p{
	/*font-weight: bold;*/
}

.services__exampleimg {
	background-color: white;
	width: 68px;
	padding: 24px 17px 0px 35px;
	border-radius: 50%;
	margin-left: calc(50% - 61.5px);
}

.services__exampleimg img{
	width: 62px;
}

.services__exampleimg:hover, .about__btn:hover{
	opacity: 0.7;
}

.serv-wrap {
	background-color: #c45158;
	width: 120px;
	margin-left: calc(50% - 70px);
	border-radius: 50%;
	padding: 5px 3px 5px 7px;
	border: 5px solid white;
}

.services__exampleimg_design{
	padding: 31px 22px 2px 29px;
}

.services__exampleimg_design img{
	width: 84px;
}

.services__exampleimg__giars img{
	width: 99px;
}

.services__exampleimg__giars{
	padding: 25px 29px 1px 21px;
}

.services__exampleimg__rocket img{
	width: 86px;
}
.services__exampleimg__rocket{
	padding: 32px 23px 0px 27px;
}

.services__example h3{
	margin: 9px 0 0 0;	
}

.services__example a{
	text-decoration: none;
}

.services__example a:hover{
	opacity: 0.7;
}

.about{
	background-color: #665464;
	margin-top: -41px;
    padding-top: 1px;
    padding-bottom: 105px;

}

.about a{
	text-decoration: none;
}

.about__text{
	margin-top: 192px;
	margin-bottom: 21px;	
	width: 70%;
	margin-left: 15%;
}

.about__text h1{
	margin-bottom: 0;
}

.about__text p{
	margin-top: 24px;
	margin-bottom: 53px;
}

.about__btn{
	text-align: center;
	font-size: 25px;
	font-family: Lato;
 	color: rgb(255, 255, 255);
  	text-transform: uppercase;
  	background-color: #a1ca6c;
	width: 243px;
	margin-left: calc(50% - 138px);
	border-radius: 4px;
	padding: 9px 0px 11px 33px;
}

.about__btn::after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 17px solid transparent;
	border-right: 15px solid transparent;
	border-top: 16px solid #a1ca6c;
	position: relative;
	top: 57px;
	right: 116px; 
}

.about__team{
	display: flex;
	justify-content: center;
	margin-top: 60px;
	flex-direction: column;
}

.about__teammember{
	margin: 10px;
	background-color: #5c4b5a;
	padding: 43px 21px 30px 21px;
	/*width: 100%;*/
	border-radius: 6px;

}

.teammember__photo {
	background-color: white;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 10px 0 0 0;
	width: 161px;
	height: 161px;
	overflow: hidden;
	border: 4px solid #a1859e;
	margin-left: calc(50% - 79px);
}

.teammember__photo img{
	width: 207px;
}

.teammember__name {
	font-size: 25px;
	font-family: Lato;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	opacity: 0.8;
	text-align: center;
	margin-top: 23px;
	margin-bottom: 7px;
	min-height: 60px;
}

.teammember__position {
	font-size: 14px;
	font-family: Lato;
	color: rgb(161, 202, 108);
	text-align: center;
	margin-bottom: 41px;
 }

.about__team__social{
	margin-top: 16px;
	text-align: center;
}

.social__icon {
	background-color: #a1859e;
	border-radius: 50%;
	padding: 14px 2px 0px 8px;
}

.social__fb img{
	width: 11px;
}

.social__fb{
	padding: 14px 9px 0px 11px;
}

.social__tw img{
	width: 21px;
	position: relative;
	top: -1px;
}

.social__gplus img{
	width: 21px;
	position: relative;
	top: 4px;
}

.social__ln img{
	width: 21px;
	position: relative;
	top: 0;
}

.work{
	background-color: #81a256;
	padding-bottom: 90px;
}

.work a{
	text-decoration: none;
}

.work__text{
	padding: 1px 0 0 0; 
	width: 70%;
	margin-left: 15%;
}

.work__text h1{
	margin-top: 192px;
	margin-bottom: 22px;
}

.work__text p{
	color: white;
}

.gallery{
	width: 70%;
	margin-left: 15%;
/*	min-height: 342vh;*/
}
.gallery__header{
	display: flex;
	justify-content: space-between;
/*	width: 70%;
	margin-left: 15%;*/
	margin-top: 53px;
	padding: 28px 0 32px 0;
	border-top: 1px solid #94b963;
	border-bottom: 1px solid #94b963;
	margin-bottom: 45px;
}

.gallery__header__name {
	font-size: 20px;
	font-family: Lato;
	color: rgb(255, 255, 255);
	padding: 9px 0 0 26px;
	text-transform: uppercase;
}

.dropbtn {
	background-color: #81a256;
	/*  color: white;
	padding: 16px;
	font-size: 16px;*/
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}

.dropdown-content a {
/*	color: black;
	padding: 12px 16px;*/
	text-decoration: none;
	display: block;
}

/*.dropdown-content a:hover {
	opacity: 0.8;
}*/

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	opacity: 0.5;
}

.dropbtn img{
	width: 36px;
}

.fullscreen {
	display: none;
}

.gallery__header__filter {
	font-size: 16px;
	font-family: Lato;
	color: rgb(255, 255, 255);
	background-color: #f5c149;
	padding: 10px;
}

.gallery__header__filter:hover{
	opacity: 0.7;
}

.gallery__item{
	display: inline-block;
	margin: 2px 2px 2px 2px;
	background-color: white;
	width:  71vw;
	font-size: 14px;
  	font-family: Lato;
  	color: rgb(114, 114, 114);
  	text-transform: uppercase;
  	border-radius: 4px;
	overflow: hidden;
}

.gallery__item__img:after {
    content:url(img/plus.svg);
    position: absolute;
    width: 100%; 
    height: 100%;
    top :0; 
    left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
	box-sizing: border-box;
    padding-left: calc(50% - 6vw);
    padding-top: calc(50% - 24vw);
}


.gallery__item__img:hover:after {
    opacity:1;
}

.gallery__item__img{
	display: inline-block;
	position: relative;
    float: left;
    width:  71vw;
    height: 41vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__item__img1{
	background-image: url(img/gallery-img1.jpg);
}

.gallery__item__img2{
	background-image: url(img/gallery-img2.jpg);
}
.gallery__item__img3{
	background-image: url(img/gallery-img3.jpg);
}
.gallery__item__img4{
	background-image: url(img/gallery-img4.jpg);
}
.gallery__item__img5{
	background-image: url(img/gallery-img5.jpg);
}
.gallery__item__img6{
	background-image: url(img/gallery-img6.jpg);
}
.gallery__item__img7{
	background-image: url(img/gallery-img7.jpg);
}
.gallery__item__img8{
	background-image: url(img/gallery-img8.jpg);
}

.gallery__item__text{
	margin-top: 41vw;
	padding: 16px 0 17px 0;
	text-align: center;
	background-color: #eeeeee;
	height: 17px;
	padding: 0px 0 34px 0;
}

.gallery__item__text:before{
	content: "";
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent; 
	border-right: 18px solid transparent; 
	border-bottom: 19px solid #eeeeee;
	position: relative;
	top: -35px;
	left: 0;
}

.contacts{
	background-color: #75b4aa;
}

.contacts__text {
	width: 70%;
	margin-left: 15%;
}

.contacts__text h1{
	margin: 0;
	padding-top: 150px;
}

.contacts__text p{
	color: white;
}

.contacts__ways{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-left: 15%;
}

.contacts__ways h3 {
	text-transform: none;
	font-size: 30px;
	margin: 0; 
}

.contacts__ways h4 {
	color: rgb(192, 223, 218);
	font-size: 20px;
	margin: 0; 
}

.contacts__ways__addresswrap{
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	
}

.contacts__ways__addressmap{
	width: 100%;
}

.contacts__ways p {
	text-align: left;
	line-height: 0.5;
	color: white;
}

.highlighted {
	color: #d0efea;
}

.separated{
	margin-top: 100px;
}

.contactform__wrap{
	display: flex;
	flex-direction: column;
}

.contactform__input {
	border: 0;
	background-color: #68a097;
	font-size: 16px;
	font-family: Lato;
	color: rgb(130, 200, 189);
	line-height: 1.313;
	border-radius: 4px;
	margin-bottom: 4px;
}

.contactform__input:focus{
	background-color: #f6f6f6;
	color: #b5b5b5;
}

.contactform__input__name, .contactform__input__mail{
	padding: 5px 3px 6px 14px;
}


.contactform__question{
	width: 94%;
	padding: 3%;
}

.contactform__submitbtn{
	font-size: 26px;
	font-family: Lato;
	color: rgb(255, 255, 255);
	background-color: #df5c64;
	border: 0;
	cursor: pointer;
	border-radius: 4px;
	border-bottom: 4px solid #c8535a;
	margin-top: 10px;
	padding: 2px 60px 2px 60px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: calc(50% - 97px);
}

.contactform__submitbtn:hover{
	opacity: 0.7;
}

.contacts__soc{
	width: 100%;
	background-color: #68a097;
	display: flex;
	height: 150px;
	justify-content: center;
	padding-top: 20px;
}

.contacts__soc__item{
	margin: 0 1%;
	background-color: #82c7bc;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.contacts__soc__item img{
	width: 40px;
}

.contacts__soc__item__fb img{
	width: 22px;
	padding: 15px 0 0 20px;
}

.contacts__soc__item__tw img{
	padding: 17px 0 0 15px;	
}

.contacts__soc__item__gplus img{
	padding: 15px 0 0 17px;
}

.contacts__soc__item__ln img{
	width: 37px;
	padding: 16px 0 0 17px;
}
.contacts__soc__item:hover{
	opacity: 0.6;
}

@media (min-width: 640px){
	.gallery__item__img::after {
		padding-top: calc(50% - 20vw);
	}
	.contacts__ways__addresswrap{
		flex-direction: row;
	}
	.contacts__ways__addressmap{
		width: 50%;
	}

}


@media (min-width: 800px){

	h3{
		font-size: 2vw;
	}

	.hero__carousel_prev, .hero__carousel_next{
		font-size: 32px;
		z-index: 5;
		position: relative;
		cursor: pointer; 
	}

	.hero__carousel_prev{
		left: 90px;
	}

	.hero__carousel_next{
		left: -90px;
	}

	.slick-dots li button::before{
		display: block;
	}

	.slick-dots {
		bottom: 90px;
	}

	.slick-dots li button:before{
		color: transparent;
		padding: 2px;
		background-color: white;
		border-radius: 23px;
		opacity: 0.7;
	}

	.slick-dots li.slick-active button::before {
		color: transparent;
		background-color: #74c7d5;
	}

	.slick-dots li button::before {
		width: 16px;
		height: 16px;
		content: '';
		text-align: center;
		opacity: .5;
	}

	.slick-dots li {
		margin: 0 20px;
	}

	.slick-dots li.slick-active button::before {
		opacity: 1;
	}
	
	.hero__headline{
		background-color: rgba(255,255,255,0.4);
		padding: 26px 0 26px 0px;
		border-radius: 4px;
		width: 50%;
	}
	
	.services__examples{
		flex-direction: row;
		/*margin: 0 30%;*/
	}
	.services__example{
		width: 14%;
	}

	.about__team{
		flex-direction: row;
	}
	.about__teammember{
		width: 17%;
	}
	
	.dropdown {
		display: none;
	}
	.fullscreen {
		display: block;
	}
	.gallery__header__filter{
		display: inline-block;
		border-radius: 4px;
		background-color: transparent;
		margin: 0px 13px 0 0;
	}

	.gallery__header__filter:hover{
		background-color: #f5c149;
		opacity: 1;
	}

	.gallery__item{
		width: 33.5vw;
	}

	.gallery__item__img{
		width: 33.5vw;
		height: 19vw;
	}
	.gallery__item__text{
		margin-top: 19vw;
	}
	.gallery__item__img::after {
		padding-top: calc(50% - 11vw);
		padding-left: calc(50% - 4vw);
	}
	.contacts__ways{
		flex-direction: row;
	}
	.contacts__ways__address{
		margin-left: 0;
		margin-right: 1%;
		width: 49%;
	}
	.contacts__ways__contactform{
		
		margin-left: 10px;
		width: 50%;
	}


}


@media (min-width: 1005px){
	.hero__headline__left {
	  	line-height: 0.967;
	  	text-align: right;
	  	width: 50%;
	  	font-size: 60px;
	}

	.hero__headline__right{
		font-size: 130px;
	  	text-align: right;
	  	letter-spacing: -5px;
	  	line-height: 0.8;
	  	margin-right: 10px;
	}
	.about__teammember{
		width: 14%;
	}
	.contacts__ways h4 {
		font-size: 20px;
	}

}

@media (min-width: 1080px){

	.gallery__item{
		width: 15.9vw;
		margin: 2px 8px 14px 2px;

	}

	.gallery__item__img {
		width: 15.9vw;
		height: 12.5vw;
	}

	.gallery__item__text {
		margin-top: 12.5vw;
	}

	.gallery__header__filters{
		margin-right: 20px;
	}

	.gallery__header__filter{
		margin: 0px 13px 0 18px;
	}
	.gallery__item__img::after {
		padding-top: calc(50% - 5vw);
		padding-left: calc(50% - 3vw);
	}

	.contactform__wrap{
		flex-direction: row;
		justify-content: space-between;
	}
	.contactform__input__name{
		width: 45%;
	}
	.contactform__input__mail{
		/*margin-left: 5%;*/
		width: 45%;
	}
	

		
}

@media (min-width: 1480px) {
	h3{
		font-size: 30px;
	}
	.social__icon {
		margin: 0 10px 0 5px;
	}
	.gallery__item__img::after {
		padding-top: calc(50% - 4.5vw);
		padding-left: calc(50% - 2.5vw);
	}
}

@media (min-width: 1600px){

	.gallery__item__img::after {
		padding-top: calc(50% - 3.8vw);
		padding-left: calc(50% - 1.9vw);
	}
	.gallery__item__img {
		width: 16.3vw;
		height: 12.5vw;
	}
	.gallery__item{
		width: 16.3vw;
		margin: 2px 5px 14px 8px;

	}

	
}
