body {
	width: 100%;
	margin-left: 0;
	margin-top: 0;
}

@font-face {
  font-family: Lato;
  src: url(Lato-Regular.ttf);
}


.hero__carousel{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.hero__carousel__main{
	width: 100%;
	
}

.hero__carousel_prev, .hero__carousel_next{
	font-size: 32px;
	z-index: 2;
	position: relative;
}

.hero__carousel_prev{
	left: 90px;
}

.hero__carousel_next{
	left: -90px;
}

.slick-slide img{
	width: 100%;
}

.slick-dots li button::before{
		display: none;
	}


.hero__headline{
	position: absolute;
	top: 50%;
	z-index: 3;
	margin-left: 46%;
}

.services{
	background-color: red;
}


@media (min-width: 800px){
	.slick-dots li button::before{
		display: block;
	}

	.slick-dots {
	bottom: 90px;
	}

	.slick-dots li button:before{
		color: transparent;
		padding: 2px;
		background-color: white;
		border-radius: 23px;
		opacity: 0.7;
	}

	.slick-dots li.slick-active button::before {
		color: transparent;
		background-color: #74c7d5;
	}

	.slick-dots li button::before {
		width: 16px;
		height: 16px;
		content: '';
		text-align: center;
		opacity: .5;
	}

	.slick-dots li {
		margin: 0 20px;
	}

	.slick-dots li.slick-active button::before {
	opacity: 1;
	}
}